# Database
DB_PORT=
DB_NAME=

DB_ROOT_PASSWORD=

DB_USER=
DB_USER_PASSWORD=

# Connection String to Program
ConnectionStrings__DefaultConnection=Server=;Port=;Database=;User=;Password=;
# JWT
Jwt__SigningKey=
Jwt__Issuer=
Jwt__Audience=
